@model GestaoCampeonatoFutebol.Models.Jogo

@{
    ViewData["Title"] = $"Detalhes sobre {Model.EquipaOne.Nome} x {Model.EquipaTwo.Nome}";
}
<div class=" row">
    @{
        if (User.IsInRole("Admin"))
        {
            <div class="col-1">
                <a asp-action="Index" class=" btn btn-light">
                    <img src="/Assets/Icons/arrowBack.png" width="30" height="30" />
                </a>
            </div>
        }
        else
        {
            <div class="col-1">
                <a asp-action="Index" asp-controller="Home" class=" btn btn-light">
                    <img src="/Assets/Icons/arrowBack.png" width="30" height="30" />
                </a>
            </div>
        }
    }

    <div class="col-9">
        <h1>@ViewBag.Title</h1>
    </div>
</div>
<div>
    <h4>Jogo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataHora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataHora)
        </dd>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Resultado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resultado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EquipaOne)
        </dt>
        <dd class = "col-sm-10">
            <a asp-action="Details" asp-route-id="@Model.EquipaOne.Id" asp-controller="Equipas" class=" btn btn-light">
                @Html.DisplayFor(model => model.EquipaOne.Nome)
            </a>
        </dd>
        <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.EquipaTwo)
           
        </dt>
        <dd class = "col-sm-10">
            <a asp-action="Details" asp-route-id="@Model.EquipaTwo.Id" asp-controller="Equipas" class=" btn btn-light">

            @Html.DisplayFor(model => model.EquipaTwo.Nome)
            </a>
        </dd>
    </dl>
</div>

