@model IEnumerable<GestaoCampeonatoFutebol.Models.Jogo>

@{
    ViewData["Title"] = "Listagem de Jogos";
}

<h1>Jogos</h1>

<p>
    <a asp-action="Create">
        <span>
            <img src="/Assets/Icons/add.png" height="30" width="30" />
        </span>
    </a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataHora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EquipaOne)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EquipaTwo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resultado)
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataHora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EquipaOne.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EquipaTwo.Nome)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Resultado)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">
                        <span>
                            <img src="/Assets/Icons/edit.png" height="30" width="30" />
                        </span>
                    </a>
                </td>

                <td>
                    @{
                        string name = $"{item.EquipaOne.Nome} x {item.EquipaTwo.Nome}";
                    }
                    <a asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('De certeza que queres apagar o Jogo @name ?')">
                        <span>
                            <img src="/Assets/Icons/delete.png" height="30" width="30" />
                        </span>
                    </a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">
                        <span>
                            <img src="/Assets/Icons/detalhes.png" height="30" width="30" />
                        </span>
                    </a>
                </td>
        </tr>
}
    </tbody>
</table>
