@model GestaoCampeonatoFutebol.Models.Jogador

@{
    ViewData["Title"] = $"Detalhes sobre {Model.Nome}";
}

<div class=" row">
    @{
        if (User.IsInRole("Admin"))
        {
            <div class="col-1">
                <a asp-action="Index" class=" btn btn-light">
                    <img src="/Assets/Icons/arrowBack.png" width="30" height="30" />
                </a>
            </div>
        }
        else
        {
            <div class="col-1">
                <a asp-action="Index" asp-controller="Home" class=" btn btn-light">
                    <img src="/Assets/Icons/arrowBack.png" width="30" height="30" />
                </a>
            </div>
        }
    }

    <div class="col-9">
        <h1>@ViewBag.Title</h1>
    </div>
</div>
<div>
    <h4>Jogador</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Equipa)
        </dt>
        <dd class = "col-sm-10">
            <a asp-action="Details" asp-route-id="@Model.Equipa.Id" asp-controller="Equipas" class=" btn btn-light">
                @Html.DisplayFor(model => model.Equipa.Nome)
            </a>
        </dd>
    </dl>
</div>

